.Rproj.user
.Rhistory
.RData
.Ruserdata
tmp

# Python
.venv

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

# JetBrains（PyCharm）
.idea

# Pythonが生成するキャッシュや一時ファイル
__pycache__/
*.pyc
*.pyo
*.pyd

logs
data